*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background-color: #f5fff3;
}


.menu{
    background-color: rgb(28, 138, 46);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
}

.logo{
    width: 80px;
    background-color: white;
    border-radius: 100px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover{
    color: orange;
}

.botao-menu{
    background-color: rgb(17, 104, 17);
    padding: 12px;
    border-radius: 20px;
}

.cestinha{
    width: 20px;
}


.inicio{
    height: 900px;

    background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('colheita.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

.texto{
    color: white;
    width: 700px;
    margin-left: 80px;
}

.texto h3{
    background-color: orange;
    width: 160px;
    padding: 10px;
font-size: 15px;
    border-radius: 20px;

    text-align: center;
}

.texto h1{
    font-size: 65px;
    margin-top: 20px;
}

.texto p{
    font-size: 25px;
    margin-top: 20px;
}



button{
    background-color: orange;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 25px;
}



.vantagens{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px;
}

.caixa{
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.caixa h2{
    color: green;
    margin-bottom: 15px;
}


.rodape{
    background-color: rgb(17, 104, 17);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.redes img{
    width: 35px;
    margin: 10px;
}