*{
    margin: 0;
    padding: 0;
    
}
.menu{
    background-color: rgba(13, 204, 13, 0.664);
    display: flex;
    height: 100px;
    gap: 20px;
    padding: 10px;
    

}
.menu a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman';

}
.menu a :hover{
    color: rgb(255, 136, 0);
    text-decoration: none;
    font-family: 'Times New Roman';

}

