* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Fundo da página */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background:rgb(28, 138, 46);


        }

/* Caixa do formulário */
.container {
  background:#fffffd;
  padding: 30px;
  border-radius: 12px;
  width: 900px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  height: 500px;
  text-align: center;
}
span{color: blue;}
/* Título */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Espaçamento dos campos */
.input-group {
  margin-bottom: 15px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  color: #080202;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

/* Efeito ao clicar */
input:focus {
    height: 50px;
  border-color: #f1972f;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #c46308;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover do botão */
button:hover {
  background: #bd5535;
}